main {
    width: 80%;
    margin: auto;
}
button {
    width: 140px;
    height: 100px;
    border: none;
    background-color: hsl(200, 60%, 60%);
    padding: 5px;
    margin: 5px;
    font-size: 40px;
}
button:hover {
    background-color: hsl(200, 60%, 40%);
    cursor: pointer;
}
#display {
    width: 49.4%;
    margin: 10px auto;
}
#display input {
    width: 95%;
    height: 50px;
    font-size: 25px;
}
#calculator {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
#digits {
}
#controls {
    display: flex;
    flex-direction: column;
}
#enter {
    background-color: rgb(43, 255, 0);
}