* {
    font-size: 15px;
}
#quiz{
    max-width: 800px;
    width: 80%;
    min-height: 300px;
    border: solid black 2px;
}
#quiz-title{
    background-color: red;
    font-size: 1.5rem;
}
#quiz-content {

}
p {
    background-color: hsl(150, 50%, 60%);
    border-radius: 25px;
    padding: 1rem;;
    max-width: 500px;
    text-align: center;
}