main {
    border: solid black 4px;
    max-width: 800px;
    padding: 40px;
    translate: 40% 10%;
    transition: 1s;
}
main:hover {
    transition: 5s;
}
section {
    margin: auto;
}
button {
    border: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    font-weight: bold;
    margin: auto 5px;
    background-color: #111;
}
button:hover {
    border: solid black 1px;
    transition: 2s;
}
input {
    height: 30px;
}
#btnhot {
    background-color: rgb(255, 60, 0);
}
#btncold {
    background-color: rgb(36, 104, 230);
}
#rules {
    font-size: 12px;
    /* border: solid black 1px; */
    padding: 5px 10px;
    margin: 10px 0;
}
#rules h3 {
    border-bottom: solid black 1px;
    width: 80%;
}
#game {
    display:none;
}
#board p {
    padding: 10px;
    font-weight: bold;
    font-size: 25px;
}
.d0 {
    background-color: green;
}
.d0::before {
    content: "YOU GUESSED IT -  ";
}
.d2 {
    background-color: rgb(255, 7, 7);
}
.d5 {
    background-color: rgb(255, 57, 7);
}
.d10 {
    background-color: rgb(241, 176, 79);
}
.d20 {
    background-color: rgb(36, 145, 235);
}