#board {
    margin-top: 50px;
}
#card {
    width: 400px;
    /* height: 600px; */
    margin: auto;
    padding: 40px 20px;
    text-align: center;
    border: solid black 2px;
    cursor: pointer;
    background-color: hsl(54, 39%, 90%);
}
#card-image {
    border-radius: 25px;
    margin: 20px;
}
#instructions {
    line-height: 0.5;
}
#welcome h3 {
    font-size: 15px;
    position: relative;
    top: -20px;
}
#flipped {
    border: solid red 2px;
}